@media screen and (min-width: 1200px){
   .revievs {
      padding: 90px 0px 90px;
background-color: red;
		&__heading {
         font-size: 45px;
         font-weight: 600;
         line-height: 1.5;
         color: $black;
         text-align: center;
         padding-bottom: 100px;
		}

		&__color {
         color: $orange;
		}
}
.swiper-wrapper {
   display: flex;
    justify-content: space-evenly;
}
.piple {
   display: flex;

		&__img {
border-radius: 50%;
width: 326px;
height: 261px;
      
		}
}
.swiper {

		&__slide {
         width: 524px;
		}

		&__slide--text {
         font-size: 28px;
         line-height: 1;
         font-weight: 400;
         color: $grey;
          
		}

		&__slide--heading {
         font-size: 45px;
         line-height: 1.5;
         font-weight: 600;
         color: $black;
         margin: 56px 0px 10px;
		}

}





} 