@media screen and (min-width: 1200px) {
   //    .container {
   //    }
      .box {
         overflow: hidden;
      }
      .slider {
      background-color: pink;
            &__item {
               background-color: yellow;
            }
      }
     .button {
      text-align: center;
       }
      .btn {
      text-align: center;
            &__prev {
               font-size: 18px;
            }
      
            &__next {
               font-size: 18px;
            }
      }
      
   }