@media screen and (min-width: 320px) {
   .footer {
      background-color: $footer-bc;
      padding: 70px 0px 70px;
   }
 
   .cover {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:5px;
   }
   .emblem {
   padding: 30px 0px;
         &__logo {
            padding-bottom: 20px;
         }
   }
   .email {
      padding: 30px 0px 0px;
          
   
         &__list:first-child {
            padding-bottom: 10px;
         }
   
         &__link {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            color:$grey;
         }
   }
   .pages {
   
         &__heading {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400;
            color: $black;
            padding-bottom: 15px;
         }
   
         &__list:first-child {
            padding-bottom: 10px;
         }
   
         &__link {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            color:$grey;
         }
   }
   .product {
   padding-bottom: 30px;
         &__heading {
            padding-bottom: 15px;
         }
   
         &__list:first-child {
            padding-bottom: 10px;
         }
   
         &__link {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            color:$grey;
         }
   }
   .social {
      display: flex;
     justify-content: space-around;
      &__heading{
         padding-bottom: 15px;
      }
       
   }
   .text {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
      color:$grey;
      text-align: center;
      padding-top: 70px;
   }
   
}
@media screen and (min-width: 720px) {
    .footer {
   display: flex;
   padding: 90px 0px 90px;
}
.flex{
   display: flex;
   justify-content: space-between;
.cover {
   display: flex;
   justify-content: space-between;
  
}

.emblem {
padding: 0px;
 
    
}
.email {
padding: 0px;
       

&__list:first-child {
   padding-bottom: 20px;
}

      &__link {
         font-size: 20px;
         line-height: 1.5;
         font-weight: 400;
         color:$grey;
      }
}
.pages {

      &__heading {
         font-size: 24px;
         line-height: 1.5;
         font-weight: 600;
         color:  $black;
         padding-bottom: 15px;
      }

      &__list:first-child {
         padding-bottom: 20px;
      }

      &__link {
         font-size: 20px;
         line-height: 1.5;
         font-weight: 400;
         color:$grey;
      }
}
.product {

      &__heading {
         font-size: 24px;
         line-height: 1.5;
         font-weight: 600;
         color:  $black;
         padding-bottom: 15px;
         margin-left: 40px;
      }

      &__list {
         margin: 0px 40px 0px 40px;
      }

      &__link {
         font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    
      }
}
 


.social {
display: flex;
margin-top: 60px;
   &__list:nth-child(2) {
      margin:0px 30px ;
       
   }

  
}
.text{
   font-size: 20px;
}
}}
@media screen and (min-width: 1200px) {
   .footer {
  display: flex;
  padding: 90px 0px 90px;
}
.flex{
  display: flex;
  justify-content: space-between;
.cover {
  display: flex;
  justify-content: space-between;
 
}

.emblem {
padding: 0px;

   
}
.email {
padding: 0px;
      

&__list:first-child {
  padding-bottom: 20px;
}

     &__link {
        font-size: 28px;
        line-height: 1.5;
        font-weight: 400;
        color:$grey;
     }
}
.pages {

     &__heading {
        font-size: 38px;
        line-height: 1.5;
        font-weight: 600;
        color:  $black;
        padding-bottom: 15px;
     }

     &__list:first-child {
        padding-bottom: 20px;
     }

     &__link {
        font-size: 28px;
        line-height: 1.5;
        font-weight: 400;
        color:$grey;
     }
}
.product {

     &__heading {
        font-size: 38px;
        line-height: 1.5;
        font-weight: 600;
        color:  $black;
        padding-bottom: 15px;
        margin-left: 40px;
     }

     &__list {
        margin: 0px 40px 0px 40px;
     }

     &__link {
        font-size: 28px;
   line-height: 1.5;
   font-weight: 400;
   
     }
}



.social {
display: flex;
margin-top: 60px;
  &__list:nth-child(2) {
     margin:0px 30px ;
      
  }

 
}
.text{
  font-size: 28px;
}
}}