.wraper {
   min-width: 100%;
}
.page {
padding: 90px 0px 30px;
		&__section {
         padding: 30px ;
         max-width: 1200px;
         margin:0px auto ;
		}

		&__section-1 {
         background-color: green;
		}

		&__title {
        font-size: 40px;
        margin: 0px 0px 20px 0px;
        color: $white;
		}

		&__text {
         font-size: 16px;
         line-height: 1.5;
         color: $white;
        
		}
      &__text p{
         margin:  0px 0px 20px 0px;
      }
    

		&__section-2 {
         background-color: purple;
		}

		&__sub-title {
         font-size: 30px;
         margin: 0px 0px 20px 0px;
         color: $white;
		}

		&__section-3 {
         background-color: blue;
		}
}



.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   background-color: red;

   &__logo {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
}

   &__menu {
   }
}
.container {
   max-width: 1200px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 30px;
   min-height: 72px;
}
.menu {

   &__icon {
      display: none;
   }

   &__bodu {
   }

   &__list {
   }

   &__link {
      position: relative;
      margin-right:20px;
      color: #fff;
      font-size: 18px;
   }
   &__link:hover{
      text-decoration: underline;
   }

   &__sub-list {
      position: absolute;
      top: 100%;
      min-width: 125px;
      background-color: black;
      padding: 15px;
      // прячем выпадающее меню
      transform:translate(0px, 10%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      // запрещает любое взаимодействие мыши с ним 
      pointer-events: none;
   }

   &__sub-link {
      color: #fff;
   }

}




@media (min-width:767px) {
   .header {

      &__logo {
      }
   
      &__menu {
      }
   }
   .container {
   }
   .menu {
   
      &__icon {
      }
   
      &__bodu {
      }
   
      &__list {
         display: flex;
         align-items: center;
      }
      
   
      &__link {
         padding: 10px 0px;
      }
   
      &__sub-list {
      }
   
      &__sub-link {
      } 
}


}
// _____________________________________________________
// на пк открывается подменю
body._pc .menu__list > li:hover .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}
// стрелочка на подменю которая должна работать только на устройствах touch
body._touch .menu__arrow{
display: block;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 10px solid #fff;
width: 0;
height: 0;
transition: transition 0.3s ease 0s;
margin: 0px 20px 5px 0px;
}
body._touch .menu__list > li{
   display: flex;
   align-items: center;
}
body._touch .menu__link{
   flex: 1 1 auto;
}
.menu__arrow{
   display: none;
}
// показываем подменю и анимируем стрелочку на touch
//кликаю на стрелочку меню появляется 
body._touch .menu__list > li._active .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}
//анимируем стрелку во время нажатие- поворачиваем ее на 180 гр
body._touch .menu__list > li._active .menu__arrow{
   transform:rotate(-180deg);
}
//МЕНЮ БУРГЕР
@media (max-width:767px){
   .menu__icon{
z-index: 5;
display: block;
position: relative;
width: 30px;
height: 18px;
cursor: pointer;
   } 
   //рисуем иконку меню бургер
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after {
left: 0px;
position: absolute;
height: 10%;
width: 100%;
background-color: #fff;
transition: all 0.3s ease 0s;
   }
   .menu__icon::before,
   .menu__icon::after{
      content: ' ';
   }
   .menu__icon::before{
    top: 0;
   }
   
   .menu__icon::after{
      bottom: 0;
   }
   .menu__icon span{
      top: 50%;
      transform: scale(1) translate(0px , -50%);
   }
   //убираем среднюю полоску
   .menu__icon._active span {
      transform: scale(0) translate(0px, -50%);

   }
   //поворачиваем верхнюю полоску 
   .menu__icon._active::before{ 
      top:50%;
      transform: rotate(-45deg) translate(0px, -50%) ;
   }
   .menu__icon._active::after{ 
      bottom:50%;
      transform: rotate(45deg) translate(0px, 50%) ;
   }
   //верстка меню на бургере и скрывание его на росширении пк
   .menu__bodu{
position: fixed;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.9);
padding: 100px 30px 30px 30px;
transition: left 0.3s ease 0s;
overflow: auto ;
   } 
   .menu__bodu._active{
      left: 0;
   }
   .menu__bodu::before{
      content: '';
      position: fixed;
      width: 100%;
      height: 70px;
      top: 0;
      left: 0;
      background-color: red;
      z-index: 2;
   }
   .menu__list > li {
      flex-wrap: wrap;
      margin: 0px 0px 30px 0px;
   }
   .menu__list > li.active .menu__sub-list{
       display: block;
   }
   .menu__link{
      font-size: 24px;
   }
   .menu__sub-list{
      position: relative;
      background-color: #fff;
 flex: 1 1 100%;
 margin: 20px 0px 0px 0px;
   }
   .menu__sub-link{
      font-size: 20px;
      color: $black;
   }
}  