// @media screen and (min-width: 320px) {
// .header {
//    background-color: $White;
// }
// // .container {
// // }
// .nav {
// }
// .social {

// 		&__list {
// 		}

// 		&__link {
// 		}

// 		&__img {
// 		}
// }
// .contact {

// 		&__list {
// 		}

// 		&__link {
// 		}
// }
// }
@media screen and (min-width: 1170px) {
  .header {
    background-color: $White;
  }
  // .container {
  // }
  // .link{

  // }
  .nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light;
  }

  .social {
    display: flex;
    align-items: center;
    &__list:nth-child(2) {
      margin: 18px 24px 16px 20px;
    }
    //  &__link {
    //  }

    &__img {
      width: 16px;
      height: 14px;
    }
  }
  .contact {
    display: flex;
    align-items: center;
    &__list:first-child {
      margin-right: 28px;
    }
    &__img {
      width: 16px;
      height: 16px;
      margin-right: 12px;
    }
    &__link {
      font-size: 14px;
      font-weight: 900;
      line-height: 1.2;
      color: $Dark;
    }
  }
}

.menu {
  background-color: $White;
}
// .container {
// }
.dialogue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 22px;
   

  box-shadow: -1px 7px 5px 0px rgba (28,28,28,0.75);
-webkit-box-shadow: -1px 7px 5px 0px rgba (28,28,28,0.75);
-moz-box-shadow: -1px 7px 5px 0px rgba (28,28,28,0.75);
  &__svg {
    width: 169px;
    height: 58px;
  }
}
.inventory {
  display: flex;
  &__list:not(:last-child) {
    margin-right: 32px;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.7;
    color: $Dark;
  }
}
.btn {
  background-color: $Red;
  border: 1px solid $Red;
  border-radius: 40px;
  padding: 15px 30px 15px 30px;
  font-size: 16px;
  font-weight: 700;
  color: $White;
  line-height: 1.7;
  &__svg {
    width: 17px;
    height: 18px;
    padding-top: 3px;
    margin-right: 11px;
  }
}
