.container {
  padding: 0px 15px;
  width: 320px;
  margin: 0 auto;
  // border-left : 1px solid red;
  // border-right: 1px solid red;
}
@media screen and (min-width: 320px ) {
  .container {
    min-width: 320px;
    margin: 0 auto;
     font-family: 'Montserrat', sans-serif;
     
  }
}

@media screen and (min-width: 720px) {
  .container {
    min-width: 720px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
  
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
   
  }
}