$white: #FFFFFF;
$bc: #FFFFFF;
$orange: rgba(255, 100, 40, 1);
$color-text:rgba(18, 18, 18, 0.4);
$black: rgba(18, 18, 18, 1);
$grey:rgba(102, 102, 102, 1);
$footer-bc: rgba(238, 238, 238, 1);
$green: green;